/*-цвет основного текста h - #212121*/
/*-цвет h1 -белый #FFFFFF-*/
/*-цвет secondary текста р #757575-*/
/*-цвет  асцент текста-blue #2196F3*/

/*-цвет  background: #F5F5F5; */
/*-цвет  footera background: #2F303A; або rgba(47, 48, 58, 1)*/
/*-цвет background вторичний F5F4FA*/
/* -цвет button при ховері фокусі ектів #188CE8 */
/* -цвет tel в footer rgba(255, 255, 255, 0.6);*/

:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-button-color: #188CE8;
    --primery-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --hero-section-bg-color: #2F303A;
    --logo-color: #000000;
    --footer-tel-mail-color: rgba(255, 255, 255, 0.6);

}

body {
    color: var(--primery-text-color);
    background-color: var(--primery-bg-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
}

.logo {
    color:  var(--logo-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.logo-web {
    color: var(--accent-color)
}
.logo-studio {
    color: var(--primery-bg-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-studio:hover,
.logo-studio:focus {
    color: var(--accent-color);
}
/* header */

.header-part .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color:  var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}
.contakts .link {
    color: var(--primery-text-color);
}
 
.contakts .link:hover,
.contakts .link:focus {
    color:  var(--accent-color);
}

 /* Hero- Section  */

 .hero-section {
    background-color: var(--hero-section-bg-color);
 }
 .hero-title {
    color: var(--primery-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
 }

 /* Button */
.button {
    color: var(--primery-bg-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.hero-button {
    color: var(--primery-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
    color: var(--primery-bg-color);
    background-color: var(--accent-button-color);
}
.hero-button:active {
    color: var(--primery-bg-color);
    background-color: var(--accent-button-color);
}    

/* sectoin features */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
/*  Features */
.features .title {
    color: var(--title-text-color);  
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* section Taem */

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;    
    text-align: center;
}

.section-team {
    background-color: var(--secondary-bg-color);
}
.team-color {
    background-color: var(--primery-bg-color);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

/* Fotter */
.foter {
    background-color: var(--hero-section-bg-color);
}

.link-address {
    color: var(--primery-bg-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.foter .link {
    color: var(--footer-tel-mail-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.foter .link:hover,
.foter .link:focus {
    color: var(--accent-color);
}

/* Portfolio */

/* main site */

.main-button {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    color: var(--primery-bg-color);
    background-color: var(--accent-color);
}

.main-button:active {
    color: var(--primery-bg-color);
    background-color: var(--accent-color);
}

.title-works {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-works{
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
  }
